{% extends 'base.html.twig' %}
{% import 'partials/_avatar.html.twig' as avatar %}
{% block maintag %}<main class="show{% if app.user.letterGroup == group %} bigger{% endif %} user">{% endblock %}
{% block body %}
    <a href="{{ path('app_letter_group_show', { 'letter': group.letter }) }}" class="ht-back-link">
        <i class="fa fa-chevron-left" style="font-size:11px;"></i> Group {{ group.letter }}
    </a>
    <div class="ht-group-show-header">
        <div class="ht-group-letter-display ht-group-{{ group.color }}">{{ group.letter }}</div>
        <div class="ht-show-name">Group {{ group.letter }}</div>
        <div class="ht-show-subtitle">Pre-Seminar Calls</div>
    </div>
    <div class="ht-show-body">
    <div class="ht-dt-card ht-responsive-table">
        <table class="table" id="my-group-calls-ambassadors-table">
            <thead><tr>
                <th class="ht-avatar-col no-export"></th>
                <th>First Name</th><th class="ht-mobile-hide">Last Name</th><th class="ht-mobile-hide">School</th>
                <th>Status</th>
                <th class="no-export ht-chevron-col"></th>
            </tr></thead>
            <tbody>
                {% for ambassador in group.ambassadors %}
                    <tr data-href="{{ path('app_ambassador_call_form', {'id': ambassador.id}) }}">
                        <td class="ht-avatar-col no-export">{{ avatar.render(ambassador, 32) }}</td>
                        <td data-label="First" class="ht-name-td">
                            <span class="ht-name-desktop">{{ ambassador.consolidatedFirstName }}</span>
                            <span class="ht-name-mobile-header">
                                {{ avatar.render(ambassador, 36) }}
                                <span class="ht-card-name">{{ ambassador.consolidatedFirstName }} {{ ambassador.lastName }}</span>
                            </span>
                        </td>
                        <td data-label="Last" class="ht-mobile-hide">{{ ambassador.lastName }}</td>
                        <td data-label="School" class="ht-mobile-hide">{{ ambassador.school }}</td>
                        {% if ambassador.juniorCallDisposition == 'spoke_with_ambassador' %}
                            <td data-label="Status" class="gridblock yay"><span class="fa fa-check"></span>&nbsp; Complete!</td>
                        {% elseif ambassador.juniorCallDisposition == 'spoke_with_family' or ambassador.juniorCallDisposition == 'left_message' %}
                            <td data-label="Status" class="gridblock pray"><span class="fa fa-phone"></span> Needs a call back</td>
                        {% elseif ambassador.juniorCallDisposition == 'wrong_number' or ambassador.juniorCallDisposition == 'other' %}
                            <td data-label="Status" class="gridblock okay"><span class="fa fa-circle-question"></span> Other</td>
                        {% else %}
                            <td data-label="Status" class="gridblock oyvey"><span class="fa fa-phone"></span> Not yet called</td>
                        {% endif %}
                        <td class="no-export ht-chevron-col">
                            <a href="{{ path('app_ambassador_call_form', {'id': ambassador.id}) }}" class="ht-row-chevron" title="Call script"><i class="fa fa-phone"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>{# ht-show-body #}
{% endblock %}
