{% extends 'base.html.twig' %}
{% block body %}
<a href="{{ path('app_letter_group_index') }}" class="ht-back-link">
    <i class="fa fa-chevron-left" style="font-size:11px;"></i> Groups
</a>
<div class="ht-page-header"><h1>Interview Assignments</h1></div>
<div class="ht-dt-card">
    <table class="table" id="letter-interview-table">
        <thead><tr>
            <th>Group</th><th>Interview Assignment</th>
        </tr></thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td class="center"><a href="{{ path('app_letter_group_show', { 'letter': group.letter }) }}" class="letter {{group.color}}">{{ group.letter }}</a></td>
                    <td>{{ group.interviewAssignment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
