{% extends 'base.html.twig' %}
{% import 'partials/_avatar.html.twig' as avatar %}
{% block maintag %}<main class="show{% if app.user.letterGroup == group %} bigger{% endif %} user">{% endblock %}
{% block body %}
    <a href="{{ path('app_letter_group_show', { 'letter': group.letter }) }}" class="ht-back-link">
        <i class="fa fa-chevron-left" style="font-size:11px;"></i> Group {{ group.letter }}
    </a>
    <div class="ht-group-show-header">
        <div class="ht-group-letter-display ht-group-{{ group.color }}">{{ group.letter }}</div>
        <div class="ht-show-name">Group {{ group.letter }}</div>
        <div class="ht-show-subtitle">Thank You Assignments</div>
    </div>
    <div class="ht-show-body">
    <div class="ht-dt-card ht-responsive-table">
        <table class="table" id="group-thankyou-table">
            <thead><tr>
                <th class="ht-avatar-col no-export"></th>
                <th>First Name</th><th class="ht-mobile-hide">Last Name</th>
                <th>Thank You Type</th><th>Assignment</th>
                <th class="no-export ht-chevron-col"></th>
            </tr></thead>
            <tbody>
                {% for ambassador in group.ambassadors %}
                    <tr data-href="{{ path('app_ambassador_show', { 'id': ambassador.id }) }}">
                        <td class="ht-avatar-col no-export">{{ avatar.render(ambassador, 32) }}</td>
                        <td data-label="First" class="ht-name-td">
                            <span class="ht-name-desktop">{{ ambassador.consolidatedFirstName }}</span>
                            <span class="ht-name-mobile-header">
                                {{ avatar.render(ambassador, 36) }}
                                <span class="ht-card-name">{{ ambassador.consolidatedFirstName }} {{ ambassador.lastName }}</span>
                            </span>
                        </td>
                        <td data-label="Last" class="ht-mobile-hide">{{ ambassador.lastName }}</td>
                        <td data-label="Type">{{ ambassador.thankyouType }}</td>
                        <td data-label="Assignment">{{ ambassador.thankyouName }}</td>
                        <td class="no-export ht-chevron-col"><a href="{{ path('app_ambassador_show', { 'id': ambassador.id }) }}" class="ht-row-chevron"><i class="fa fa-chevron-right"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>{# ht-show-body #}
{% endblock %}
