{% extends 'base.html.twig' %}
{% import 'partials/_avatar.html.twig' as avatar %}
{% block maintag %}<main class="wide">{% endblock %}
{% block body %}
<div class="ht-page-header"><h1>Comings &amp; Goings</h1></div>
<div class="ht-dt-card ht-responsive-table">
    <table class="table" id="cg-table">
        <thead><tr>
            <th class="ht-avatar-col no-export"></th>
            <th>First Name</th><th class="ht-mobile-hide">Last Name</th><th class="ht-mobile-hide">Group</th>
            <th>Form</th><th>Departure</th><th>Return</th><th>Notes</th>
            {% if is_granted('ROLE_BOARD') %}<th class="no-export"></th>{% endif %}
            <th class="no-export ht-chevron-col"></th>
        </tr></thead>
        <tbody>
            {% for cg in comings_and_goings %}
                <tr data-href="{{ path('app_ambassador_show', { 'id': cg.ambassador.id }) }}">
                    <td class="ht-avatar-col no-export">{{ avatar.render(cg.ambassador, 32) }}</td>
                    <td data-label="First" class="ht-name-td">
                        <span class="ht-name-desktop">{{ cg.ambassador.consolidatedFirstName }}</span>
                        <span class="ht-name-mobile-header">
                            {{ avatar.render(cg.ambassador, 36) }}
                            <span class="ht-card-name">{{ cg.ambassador.consolidatedFirstName }} {{ cg.ambassador.lastName }}</span>
                            {% if cg.ambassador.letterGroup %}<span class="ht-group-badge ht-group-{{ cg.ambassador.letterGroup.color }} ht-card-name-badge">{{ cg.ambassador.letterGroup.letter }}</span>{% endif %}
                        </span>
                    </td>
                    <td data-label="Last" class="ht-mobile-hide">{{ cg.ambassador.lastName }}</td>
                    <td data-label="Group" class="center ht-mobile-hide">{% if cg.ambassador.letterGroup %}<span class="ht-group-badge ht-group-{{ cg.ambassador.letterGroup.color }}">{{ cg.ambassador.letterGroup.letter }}</span>{% endif %}</td>
                    {% if cg.ambassador.isCgForm %}<td data-label="Form" class="gridblock yay"><span class="fa fa-check"><span class="hidden">TRUE</span></span></td>
                    {% elseif cg.ambassador.comingsAndGoings|length > 0 %}<td data-label="Form" class="gridblock nay"><span class="fa fa-times"><span class="hidden">FALSE</span></span></td>
                    {% else %}<td data-label="Form" class="gridblock okay">&nbsp;</td>{% endif %}
                    <td data-label="Departure">
                        {% if cg.departure is not null %}
                            {{ cg.departure|date('D M j \\a\\t g:iA') }}<br>
                            <input type="checkbox" data-cg-id="{{ cg.id }}" data-field="checked_out" class="cg-checkbox"{% if cg.isCheckedOut %} checked disabled{% endif %}>&nbsp;<span id="{{ cg.id }}-checked_out-by" class="byline">{% if cg.isCheckedOut %}by {{ cg.checkedOutBy }}{% endif %}</span>
                        {% else %}N/A{% endif %}
                    </td>
                    <td data-label="Return">
                        {% if cg.arrival is not null %}
                            {{ cg.arrival|date('D M j \\a\\t g:iA') }}<br>
                            <input type="checkbox" data-cg-id="{{ cg.id }}" data-field="checked_in" class="cg-checkbox"{% if cg.isCheckedIn %} checked disabled{% endif %}>&nbsp;<span id="{{ cg.id }}-checked_in-by" class="byline">{% if cg.isCheckedIn %}by {{ cg.checkedInBy }}{% endif %}</span>
                        {% else %}N/A{% endif %}
                    </td>
                    <td data-label="Notes">{{ cg.notes }}</td>
                    {% if is_granted('ROLE_BOARD') %}
                        <td class="center no-export"><a href="{{ path('app_comings_and_goings_edit', { 'id': cg.id }) }}" class="ht-table-edit-link" title="Edit"><span class="fa fa-pencil"></span></a></td>
                    {% endif %}
                    <td class="no-export ht-chevron-col"><a href="{{ path('app_ambassador_show', { 'id': cg.ambassador.id }) }}" class="ht-row-chevron"><i class="fa fa-chevron-right"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input.cg-checkbox').change(function() {
                var field_status = $(this).is(":checked") ? 1 : 0;
                $.post("{{ path('cg_update') }}", {
                    cg_id: $(this).data('cg-id'),
                    field: $(this).data('field'),
                    field_status: field_status
                });
                $(this).attr("disabled", true);
                $("#"+$(this).data('cg-id')+"-"+$(this).data('field')+"-by").text("by {{app.user.firstName}} {{app.user.lastName}}");
            });

            $('table#cg-table').DataTable({
                "order": [[5, "asc"], [2, "asc"]],
                responsive: false,
                "columnDefs": [
                    { targets: [0, 9], orderable: false },
                    { targets: 0, searchable: false }
                    {% if is_granted('ROLE_BOARD') %}, { targets: 8, orderable: false }{% endif %}
                ],
                initComplete: function() {
                    $('.ht-dt-card .dataTables_filter input').attr('placeholder', 'Search\u2026');
                },
                buttons: [
                    {% if is_granted('ROLE_BOARD') %}
                    { text: 'New', action: function(e, dt, node, config) { window.location.href = "{{ path('app_comings_and_goings_new') }}"; } },
                    {% endif %}
                    'excelHtml5', 'print'
                ]
            });
        });
    </script>
{% endblock %}
