{% extends 'base.html.twig' %}

{% block body %}
	<div class="form-page">
		<h1>Evaluation: {{user.consolidatedFirstName}} {{user.lastName}}</h1>
		<a href="{{ path('staffeval_index', {'letter': app.user.letterGroup.letter}) }}" class="red"><span class="fa fa-times"></span> Cancel</a><br><br>
		{{ form_start(edit_form, {'attr': {'class': 'se-form'}}) }}
			<div>
				{{ form_label(edit_form.evalPros) }}
				{{ form_errors(edit_form.evalPros) }}
				{{ form_widget(edit_form.evalPros) }}
			</div>
			<div>
				{{ form_label(edit_form.evalCons) }}
				{{ form_errors(edit_form.evalCons) }}
				{{ form_widget(edit_form.evalCons) }}
			</div>
			<div>
				{{ form_label(edit_form.evalDiscussions) }}
				{{ form_errors(edit_form.evalDiscussions) }}
				{{ form_widget(edit_form.evalDiscussions) }}
			</div>
			<div>
				{{ form_label(edit_form.evalEnthusiastic) }}
				{{ form_errors(edit_form.evalEnthusiastic) }}
				{{ form_widget(edit_form.evalEnthusiastic) }}
			</div>
			<div>
				{{ form_label(edit_form.evalOrganized) }}
				{{ form_errors(edit_form.evalOrganized) }}
				{{ form_widget(edit_form.evalOrganized) }}
			</div>
			<div>
				{{ form_label(edit_form.evalEqually) }}
				{{ form_errors(edit_form.evalEqually) }}
				{{ form_widget(edit_form.evalEqually) }}
			</div>
			<div>
				{{ form_label(edit_form.evalResponsible) }}
				{{ form_errors(edit_form.evalResponsible) }}
				{{ form_widget(edit_form.evalResponsible) }}
			</div>
			<div>
				{{ form_label(edit_form.evalAttentive) }}
				{{ form_errors(edit_form.evalAttentive) }}
				{{ form_widget(edit_form.evalAttentive) }}
			</div>
			<div>
				{{ form_label(edit_form.evalInclude) }}
				{{ form_errors(edit_form.evalInclude) }}
				{{ form_widget(edit_form.evalInclude) }}
			</div>
			<div>
				{{ form_label(edit_form.evalProfessional) }}
				{{ form_errors(edit_form.evalProfessional) }}
				{{ form_widget(edit_form.evalProfessional) }}
			</div>
			<div>
				{{ form_label(edit_form.evalPunctual) }}
				{{ form_errors(edit_form.evalPunctual) }}
				{{ form_widget(edit_form.evalPunctual) }}
			</div>
			<div>
				{{ form_label(edit_form.evalWhynot) }}
				{{ form_errors(edit_form.evalWhynot) }}
				{{ form_widget(edit_form.evalWhynot) }}
			</div>
			<div>
				{{ form_label(edit_form.evalComments) }}
				{{ form_errors(edit_form.evalComments) }}
				{{ form_widget(edit_form.evalComments) }}
			</div>
			<div>
				<button class="col-12 btn btn-primary">Submit</button>
			</div>
		{{ form_end(edit_form) }}
	</div>

{% endblock %}