{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Evaluations' %}

{% block main %}

	<div class="table-responsive table-striped table-sm mb-5">
		<h3>Ambassador Evaluations</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Ambassador</th>
					<th>Facilitators</th>
					<th>Recommended?</th>
					<th>Engaged</th>
					<th>Committed</th>
					<th>Pros</th>
					<th>Cons</th>
					<th>Comments</th>
				</tr>
			</thead>
	
			<tbody>
				{% for ambassador in ambassador_evaluations %}
					<tr>
						<td>
							<a href="{{ ea_url()
								.setController('App\\Controller\\Admin\\AmbassadorCrudController')
								.setAction('detail')
								.setEntityId(ambassador.id)
							}}">{{ambassador.getFullName}}</a>
						</td>
						<td>
							<ul>
							{% for facilitator in ambassador.letterGroup.facilitators %}
								<li>{{facilitator}}</li>
							{% endfor %}
							</ul>
						</td>
						<td>
							{{ambassador.evalRecommendation|parse_boolean}}
						</td>
						<td>
							{{ambassador.evalEngaged|parse_likert}}
						</td>
						<td>
							{{ambassador.evalService|parse_likert}}
						</td>
						<td>
							{{ambassador.evalPros}}
						</td>
						<td>
							{{ambassador.evalCons}}
						</td>
						<td>
							{{ambassador.evalComments}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if ambassador_nulls > 0 %}
			<h5>There {{ ambassador_nulls == 1 ? 'is' : 'are' }} {{ ambassador_nulls }} {{ ambassador_nulls == 1 ? 'ambassador' : 'ambassadors' }} who {{ ambassador_nulls == 1 ? 'has' : 'have' }} not been evaluated.</h5>
		{% endif %}
	</div>
	
	<div class="table-responsive table-striped table-condensed mb-5" style="font-size: 12px !important;">
		<h3>Volunteer Evaluations</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Volunteer</th>
					<th>Co-Facilitator(s)</th>
					<th>Pros</th>
					<th>Cons</th>
					<th>Discussions</th>
					<th>Enthusiastic</th>
					<th>Organized</th>
					<th>Equality</th>
					<th>Responsible</th>
					<th>Attentive</th>
					<th>Inclusive</th>
					<th>Professional</th>
					<th>Punctual</th>
					<th>Reasons Not to Invite Back</th>
					<th>Comments</th>
				</tr>
			</thead>
	
			<tbody>
				{% for user in user_evaluations %}
					<tr>
						<td>
							<a href="{{ ea_url()
								.setController('App\\Controller\\Admin\\UserCrudController')
								.setAction('detail')
								.setEntityId(user.id)
							}}">{{user}}</a>
						</td>
						<td>
							<ul>
							{% for facilitator in user.Cofacilitators %}
								<li>{{facilitator}}</li>
							{% endfor %}
							</ul>
						</td>
						<td>
							{{user.evalPros}}
						</td>
						<td>
							{{user.evalCons}}
						</td>
						<td>
							{{user.evalDiscussions|parse_likert}}
						</td>
						<td>
							{{user.evalEnthusiastic|parse_likert}}
						</td>
						<td>
							{{user.evalOrganized|parse_likert}}
						</td>
						<td>
							{{user.evalEqually|parse_likert}}
						</td>
						<td>
							{{user.evalResponsible|parse_likert}}
						</td>
						<td>
							{{user.evalAttentive|parse_likert}}
						</td>
						<td>
							{{user.evalInclude|parse_likert}}
						</td>
						<td>
							{{user.evalProfessional|parse_likert}}
						</td>
						<td>
							{{user.evalPunctual|parse_likert}}
						</td>
						<td>
							{{user.evalWhyNot}}
						</td>
						<td>
							{{user.evalComments}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if user_nulls > 0 %}
			<h5>There {{ user_nulls == 1 ? 'is' : 'are' }} {{ user_nulls }} {{ user_nulls == 1 ? 'volunteer' : 'volunteers' }} who {{ user_nulls == 1 ? 'has' : 'have' }} not been evaluated.</h5>
		{% endif %}
	</div>

{% endblock main %}