{% extends 'base.html.twig' %}
{% block maintag %}<main class="wide">{% endblock %}
{% block body %}
	<h1>Emergency Contact List</h1>

	<table class="standard-view table table-striped table-bordered" id="ec-table">
		<thead>
			<tr>
				<th class="no-export">View</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Group</th>
				<th>EC First Name</th>
				<th>EC Last Name</th>
				<th>EC Relationship</th>
				<th>EC Phone #1</th>
				<th>EC Phone #2</th>
			</tr>
		</thead>
		<tbody>
			{% for person in people %}
				<tr>
					<td class="view-link"><a href="{{ path(person.showpath, { 'id': person.id }) }}" class="view-link">{{ global_view_link | raw }}</a></td>
					<td>{{ person.firstName }}</td>
					<td>{{ person.lastName }}</td>
					<td class="center">
						{% if person.group == "Staff" %}
							Staff
						{% elseif not person.group is empty %}
							<a href="{{ path('app_letter_group_show', { 'letter': person.group.letter }) }}" class="letter {{person.group.color}}">{{ person.group.letter }}</a>
						{% endif %}
					</td>
					<td>{{ person.ecFirstName }}</td>
					<td>{{ person.ecLastName }}</td>
					<td>{{ person.ecRelationship }}</td>
					<td>{{ person.ecPhone1 }}</td>
					<td>{{ person.ecPhone2 }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	
{% endblock %}