{% extends 'base.html.twig' %}
{% block body %}
<div class="ht-page-header"><h1>All Groups</h1></div>
<div class="ht-dt-card">
    <table class="table" id="letter-groups-table">
        <thead><tr>
            <th>Action</th><th>Group</th><th>First Name</th><th>Last Name</th>
            <th>Role</th><th>School</th><th class="hidden">Sort</th>
        </tr></thead>
        <tbody>
            {% for person in people %}
                {% if person.type == "user" %}<tr class="user-highlight stripe-override">{% else %}<tr>{% endif %}
                    <td class="view-link"><a href="{{ path(person.showpath, { 'id': person.id }) }}">{{ global_view_link | raw }}</a></td>
                    <td class="center">{% if person.group == "Staff" %}Staff{% elseif not person.group is empty %}<a href="{{ path('app_letter_group_show', { 'letter': person.group.letter }) }}" class="letter {{person.group.color}}">{{ person.group.letter }}</a>{% endif %}</td>
                    <td>{{ person.firstName }}</td><td>{{ person.lastName }}</td>
                    <td>{{ person.role }}</td><td>{{ person.school }}</td>
                    <td class="hidden">{{ person.sort }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
