{% extends 'base.html.twig' %}
{% import 'partials/_avatar.html.twig' as avatar %}
{% block body %}
<div class="ht-page-header"><h1>All Groups</h1></div>
<div class="ht-dt-card ht-responsive-table">
    <table class="table" id="letter-groups-table">
        <thead><tr>
            <th class="ht-avatar-col no-export"></th>
            <th>Group</th>
            <th>First Name</th><th class="ht-mobile-hide">Last Name</th>
            <th>Role</th><th>School</th><th class="hidden">Sort</th>
            <th class="no-export ht-chevron-col"></th>
        </tr></thead>
        <tbody>
            {% for person in people %}
                {% if person.type == "user" %}<tr class="user-highlight stripe-override" data-href="{{ path(person.showpath, { 'id': person.id }) }}">{% else %}<tr data-href="{{ path(person.showpath, { 'id': person.id }) }}">{% endif %}
                    <td class="ht-avatar-col no-export">{{ avatar.render(person, 32) }}</td>
                    <td data-label="Group" class="center ht-mobile-hide">
                        {% if person.group == "Staff" %}Staff
                        {% elseif person.group is not empty %}<span class="ht-group-badge ht-group-{{ person.group.color }}">{{ person.group.letter }}</span>
                        {% endif %}
                    </td>
                    <td data-label="First" class="ht-name-td">
                        <span class="ht-name-desktop">{{ person.firstName }}</span>
                        <span class="ht-name-mobile-header">
                            {{ avatar.render(person, 36) }}
                            <span class="ht-name-mobile-text">
                                <span class="ht-card-name">{{ person.firstName }} {{ person.lastName }}</span>
                                {% if person.type == 'user' and person.role %}
                                    <span class="ht-card-sub">{{ person.role }}</span>
                                {% elseif person.type == 'ambassador' and person.school %}
                                    <span class="ht-card-sub">{{ person.school }}</span>
                                {% endif %}
                            </span>
                            {% if person.group == "Staff" %}<span class="ht-group-badge ht-card-name-badge" style="background:#eef1f4;color:#555">Staff</span>
                            {% elseif person.group is not empty %}<span class="ht-group-badge ht-group-{{ person.group.color }} ht-card-name-badge">{{ person.group.letter }}</span>{% endif %}
                        </span>
                    </td>
                    <td data-label="Last" class="ht-mobile-hide">{{ person.lastName }}</td>
                    <td data-label="Role" class="ht-mobile-hide">{{ person.role }}</td>
                    <td data-label="School" class="ht-mobile-hide">{{ person.school }}</td>
                    <td class="hidden">{{ person.sort }}</td>
                    <td class="no-export ht-chevron-col"><a href="{{ path(person.showpath, { 'id': person.id }) }}" class="ht-row-chevron"><i class="fa fa-chevron-right"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
