{% extends 'base.html.twig' %}
{% block maintag %}<main class="wide">{% endblock %}
{% block body %}
<div class="ht-page-header"><h1>Medical Report</h1></div>
<div class="ht-dt-card">
    <table class="table" id="med-table">
        <thead><tr>
            <th>First Name</th><th>Last Name</th><th>Group</th>
            <th>Current Rx</th><th>Conditions</th><th>Exercise Limits</th>
            <th>Allergies</th><th>Medical Allergies</th>
        </tr></thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <td><a href="{{ path(person.showpath, { 'id': person.id }) }}" class="ht-table-name-link">{{ person.firstName }}</a></td><td>{{ person.lastName }}</td>
                    <td class="center">{% if person.group == "Staff" %}Staff{% elseif not person.group is empty %}<a href="{{ path('app_letter_group_show', { 'letter': person.group.letter }) }}" class="letter {{person.group.color}}">{{ person.group.letter }}</a>{% endif %}</td>
                    <td>{{ person.currentRx }}</td><td>{{ person.currentConditions }}</td>
                    <td>{{ person.exerciseLimits }}</td><td>{{ person.allergies }}</td><td>{{ person.medAllergies }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
