{% extends 'base.html.twig' %}

{% block body %}
	<div id="checkin-header"><img src="{{ ambassador.photo ?? asset('assets/images/headshot-placeholder.png') }}" class="img-thumbnail">&nbsp;<h1><strong>{{ambassador.consolidatedFirstName}} {{ambassador.lastName}}</strong><br>{{ambassador.school}}<br><a href="tel:{{ambassador.cellPhone}}">{{ambassador.cellPhone}}</a></h1></div>
	<a href="{{ path('app_letter_group_calls', {'letter': app.user.letterGroup.letter}) }}" class="red"><span class="fa fa-times"></span> Cancel</a><br><br>
	<div class="checkin-form-group">
		{{ form_start(edit_form) }}
		
			<div class="card">
				<div class="card-heading card-info">Intro</div>
				<div class="card-body">
					<ul>
						<li>Introduce yourself! Tell {{ambassador.consolidatedFirstName}} that you will be their junior facilitator at HOBY, and that you were an ambassador yourself.</li>
						<li>Tell them you are calling to touch base and say hi, and to answer any questions they have.</li>
						<li>Tell them how excited you are to have them at HOBY, and share a little bit about why you love it. But don't give away too much!</li>
					</ul>
				</div>
			</div>
			
			<div class="card">
				<div class="card-heading {{ cg_status ? 'card-danger' : 'card-success' }}">{{ambassador.consolidatedFirstName}} {{ cg_status ? '<strong>IS NOT</strong> scheduled to attend the entire seminar. Please confirm the details below.' : '<strong>IS</strong> scheduled to attend the entire seminar, from check-in Thursday to closing ceremonies Sunday. Please confirm this.' }}</div>
				<div class="card-body">
					{% if cg_status %}
						<ul>
							{% for cg in ambassador.comingsAndGoings %}
								{% if cg.departure is not null %}<li>Leaving {{cg.departure|date('D M j \\a\\t g:iA')}}</li>{% endif %}
								{% if cg.arrival is not null %}<li>Returning {{cg.arrival|date('D M j \\a\\t g:iA')}}</li>{% endif %}
								
							{% endfor %}
						</ul>
					{% else %}
						<ul>
							<li>Let {{ambassador.consolidatedFirstName}} know that check-in is from 12:30pm to 1:30pm on Thursday, June 12, and that it's really important that they're on time! We'll start promptly at 1:30pm.</li>
							<li>If they say they need to miss part of the seminar or aren't able to come at all anymore, please put that in the notes below.</li>
						</ul>
					{% endif %}
				</div>
			</div>

			<div class="card">
				<div class="card-heading {{ psm_status ? 'card-success' : 'card-danger' }}">{{ambassador.consolidatedFirstName}} {{ (psm_status ? '<strong>DID</strong> fill out all pre-seminar forms, so no need to remind them' : '<strong>DID NOT</strong> fill out their pre-seminar forms' ) }}.</div>
				{% if not psm_status %}
					<div class="card-body">
						Please ask {{ambassador.consolidatedFirstName}} to do their pre-seminar forms ASAP! They can find the link in the yellow box at www.HOBYOhioSouth.org.
					</div>
				{% endif %}
			</div>
			
			<div class="card">
				<div class="card-heading card-info">Other Info</div>
				<div class="card-body">
					<ul>
						<li>Let {{ambassador.consolidatedFirstName}}  know that a packing list, FAQs, directions, etc. will all be emailed to ambassadors and families, and are also available at www.HOBYOhioSouth.org in the yellow box.</li>
						<li>Ask {{ambassador.consolidatedFirstName}} if they have any questions and answer the best you can - if you aren't sure of an answer, don't guess! Just put the question in the notes below and let them know we'll get back to them.</li>
					</ul>
				</div>
			</div>
			
			<div class="card">
				<div class="card-heading card-info">How'd it go?</div>
				<div class="card-body">
					{{ form_end(edit_form) }}
				</div>
			</div>
	</div>
{% endblock %}
