{% extends 'base.html.twig' %}
{% import 'partials/_avatar.html.twig' as avatar %}
{% block body %}
<div class="ht-page-header"><h1>No Shows</h1></div>
<div class="ht-dt-card ht-responsive-table">
    <table class="table" id="noshow-table">
        <thead><tr>
            <th class="ht-avatar-col no-export"></th>
            <th>First Name</th><th class="ht-mobile-hide">Last Name</th><th class="ht-mobile-hide">Group</th>
            <th>School</th><th>Paperwork</th><th>Cell Phone</th><th>Home Phone</th>
            <th class="no-export ht-chevron-col"></th>
        </tr></thead>
        <tbody>
            {% for ambassador in ambassadors %}
                <tr data-href="{{ path('app_ambassador_show', { 'id': ambassador.id }) }}">
                    <td class="ht-avatar-col no-export">{{ avatar.render(ambassador, 32) }}</td>
                    <td data-label="First" class="ht-name-td">
                        <span class="ht-name-desktop">{{ ambassador.consolidatedFirstName }}</span>
                        <span class="ht-name-mobile-header">
                            {{ avatar.render(ambassador, 36) }}
                            <span class="ht-card-name">{{ ambassador.consolidatedFirstName }} {{ ambassador.lastName }}</span>
                            {% if ambassador.letterGroup %}<span class="ht-group-badge ht-group-{{ ambassador.letterGroup.color }} ht-card-name-badge">{{ ambassador.letterGroup.letter }}</span>{% endif %}
                        </span>
                    </td>
                    <td data-label="Last" class="ht-mobile-hide">{{ ambassador.lastName }}</td>
                    <td data-label="Group" class="center ht-mobile-hide">{% if ambassador.letterGroup %}<span class="ht-group-badge ht-group-{{ ambassador.letterGroup.color }}">{{ ambassador.letterGroup.letter }}</span>{% endif %}</td>
                    <td data-label="School">{{ ambassador.school }}</td>
                    {% if ambassador.isCheckinPaperwork %}<td data-label="Paperwork" class="gridblock yay"><span class="fa fa-check"></span></td>
                    {% else %}<td data-label="Paperwork" class="gridblock nay"><span class="fa fa-times"></span></td>{% endif %}
                    <td data-label="Cell">{{ ambassador.cellPhone }}</td>
                    <td data-label="Home">{{ ambassador.homePhone }}</td>
                    <td class="no-export ht-chevron-col"><a href="{{ path('app_ambassador_show', { 'id': ambassador.id }) }}" class="ht-row-chevron"><i class="fa fa-chevron-right"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
