{% extends 'base.html.twig' %}

{% block maintag %}<main class="show ambassador">{% endblock %}

{% block body %}
    {{ global_back_link | raw }}
    
    <div class="show-header">
        <div>
            <h1>{{ ambassador.consolidatedFirstName}} {{ ambassador.lastName }}</h1>
            <h4>{{ ambassador.school }}</h4>
            <h4>
                {% if ambassador.letterGroup is null %}
                    <em>No Group Assigned</em>
                {% else %}
                    <a href="{{ path('app_letter_group_show', { 'letter': ambassador.letterGroup.letter }) }}" class="letter {{ambassador.letterGroup.color}}">{{ ambassador.letterGroup.printLetterGroup | raw }}</a>
                {% endif %}
            </h4>
        </div>
        <div><img src="{{ ambassador.photo ?? asset('assets/images/headshot-placeholder.png') }}" class="img-thumbnail"></div>
    </div>

    <h2>Personal Information</h2>
    <table class="table table-striped table-bordered">
        <tbody>

            {{ global_columnizer.spitShowRow(ambassador, 'firstName', true) | raw }}
            {% if ambassador.prefName is not null %}
                {{ global_columnizer.spitShowRow(ambassador, 'prefName') | raw }}
            {% endif %}
            {{ global_columnizer.spitShowRow(ambassador, 'lastName', true) | raw }}
            {% if is_granted('ROLE_BOARD') or (app.user.controlledAge >= 21 and app.user.letterGroup == ambassador.letterGroup) %}
                {# {{ global_columnizer.spitShowRow(ambassador, 'gender', true) | raw }} #}
            {% endif %}
            {{ global_columnizer.spitShowRow(ambassador, 'pronouns') | raw }}
{#             {{ global_columnizer.spitShowRow(ambassador, 'dateOfBirth', true) | raw }} #}
            {{ global_columnizer.spitShowRow(ambassador, 'homePhone') | raw }}
            {{ global_columnizer.spitShowRow(ambassador, 'cellPhone') | raw }}
            {{ global_columnizer.spitShowRow(ambassador, 'email', true) | raw }}
           
        </tbody>
    </table>
        
    <h2>Assignments</h2>
    <table class="table table-striped table-bordered">
        <tbody>
            {{ global_columnizer.spitShowRow(ambassador, 'dorm', true) | raw }}
            {{ global_columnizer.spitShowRow(ambassador, 'room', true) | raw }}
{#
            {{ global_columnizer.spitShowRow(ambassador, 'group') | raw }}
            {{ global_columnizer.spitShowRow(ambassador, 'color') | raw }}
            {{ global_columnizer.spitShowRow(ambassador, 'region') | raw }}
#}
           
        </tbody>
    </table>
    
    {% if is_granted('ROLE_BOARD') or (app.user.controlledAge >= 21 and app.user.letterGroup == ambassador.letterGroup) %}
    
        <h2>Parent/Guardian Information</h2>
        <table class="table table-striped table-bordered">
            <tbody>
                
                {{ global_columnizer.spitShowRow(ambassador, 'parent1FirstName') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent1LastName') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent1Phone1') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent1Phone2') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent1Email') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent2FirstName') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent2LastName') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent2Phone1') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent2Phone2') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'parent2Email') | raw }}
               
            </tbody>
        </table>
        
        <h2>Emergency Contact</h2>
        <table class="table table-striped table-bordered">
            <tbody>
    
                {{ global_columnizer.spitShowRow(ambassador, 'ecFirstName') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'ecLastName') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'ecRelationship') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'ecPhone1') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'ecPhone2') | raw }}
               
            </tbody>
        </table>
    
        <h2>Health Info</h2>
        <table class="table table-striped table-bordered">
            <tbody>
    
                {{ global_columnizer.spitShowRow(ambassador, 'currentConditions') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'exerciseLimits') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'allergies') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'dietRestrictions') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'dietInfo') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'dietSeverity') | raw }}
               
            </tbody>
        </table>
    {% endif %}
    {% if is_granted('ROLE_NURSE') %}
        <h2>Medical Info</h2>
        <table class="table table-striped table-bordered">
            <tbody>
    
                {{ global_columnizer.spitShowRow(ambassador, 'medAllergies') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'currentRx') | raw }}
                {{ global_columnizer.spitShowRow(ambassador, 'approvedOtc') | raw }}
               
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}
