{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application Summary</h1>
    <div class="applicant-summary">
        <div class="row applicant-counts">
            <div class="col">
                <h1 class="green-text summary-update" data-point="yeses">{{ summary.yeses }}</h1>
                <label>accepted</label>
            </div>
            <div class="col">
                <h1 class="yellow-text summary-update" data-point="maybes">{{ summary.maybes }}</h1>
                <label>tentative</label>
            </div>
            <div class="col">
                <h1 class="red-text summary-update" data-point="nos">{{ summary.nos }}</h1>
                <label>no hire</label>
            </div>
            <div class="col">
                <h1 class="gray-text summary-update" data-point="totalToGo">{{ summary.totalToGo }}</h1>
                <label>to go</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3>Seniors</h3>
                <table>
                    <tr><td>To Go</td><td class="summary-update" data-point="seniorsToGo">{{ summary.seniorsToGo }}</td></tr>
                    <tr><td><strong>Facilitators</strong></td><td class="summary-update" data-point="seniorFacilitators">{{ summary.seniorFacilitators }}</td></tr>
                    <tr><td><strong>Team HQ</strong></td><td class="summary-update" data-point="teamHq">{{ summary.teamHq }}</td></tr>
                    <tr><td><em>No Hire</em></td><td class="summary-update" data-point="seniorNoHires">{{ summary.seniorNoHires }}</td></tr>
                    <tr><td><em>Total Applied</em></td><td class="summary-update" data-point="totalSeniors">{{ summary.totalSeniors }}</td></tr>
                    <tr><td><strong>Total Accepted</strong></td><td class="summary-update" data-point="seniorsAccepted">{{ summary.seniorsAccepted }}</td></tr>
                </table>
            </div>
            <div class="col">
                <h3>Juniors</h3>
                <table>
                    <tr><td>To Go</td><td class="summary-update" data-point="juniorsToGo">{{ summary.juniorsToGo }}</td></tr>
                    <tr><td><strong>Facilitators</strong></td><td class="summary-update" data-point="juniorFacilitators">{{ summary.juniorFacilitators }}</td></tr>
                    <tr><td><strong>J-Crew</strong></td><td class="summary-update" data-point="jcrew">{{ summary.jcrew }}</td></tr>
                    <tr><td><em>No Hire</em></td><td class="summary-update" data-point="juniorNoHires">{{ summary.juniorNoHires }}</td></tr>
                    <tr><td><em>Total Applied</em></td><td class="summary-update" data-point="totalJuniors">{{ summary.totalJuniors }}</td></tr>
                    <tr><td><strong>Total Accepted</strong></td><td class="summary-update" data-point="juniorsAccepted">{{ summary.juniorsAccepted }}</td></tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <h1>Candidates</h1>
    <table class="standard-view table table-striped table-bordered" id="applicant-table">
        <thead>
            <tr>
                <th class="no-export">Evaluate</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Katie Feedback</th>
                <th>Jacob Feedback</th>
                <th>Decision</th>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
                <tr>
                    <td class="edit-link view-link"><a href="{{ path('app_applicant_edit', { 'id': applicant.id }) }}"><span class="fa fa-gavel"></span></a></td>
                    <td>{{ applicant.firstAndPrefName }}</td>
                    <td>{{ applicant.lastName }}</td>
                    <td>{{ applicant.positionClass }}</td>
                    <td>
                        {% if applicant.reviewer1Rating is not empty %}
                            <strong>{{ applicant.reviewer1Rating|parse_hire_rating}}</strong>
                        {% endif %}
                        {% if applicant.reviewer1Rating is not empty and applicant.reviewer1Notes is not empty %}<br>{% endif %}
                        {% if applicant.reviewer1Notes is not empty %}
                            {{ applicant.reviewer1Notes }}
                        {% endif %}
                    </td>
                    <td>
                        {% if applicant.reviewer2Rating is not empty %}
                            <strong>{{ applicant.reviewer2Rating|parse_hire_rating}}</strong>
                        {% endif %}
                        {% if applicant.reviewer2Rating is not empty and applicant.reviewer2Notes is not empty %}<br>{% endif %}
                        {% if applicant.reviewer2Notes is not empty %}
                            {{ applicant.reviewer2Notes }}
                        {% endif %}
                    </td>
                    <td>
                        <select data-applicant-id="{{ applicant.id }}" class="form-select app_applicant_decision">
                            <option value=""{{ (applicant.decision is null) ? ' selected' : '' }}>Select...</option>
                            <option value="Facilitator"{{ (applicant.decision == "Facilitator") ? ' selected' : '' }}>Facilitator</option>
                            {% if applicant.positionClass == "Senior (21+)" %}
                                <option value="Team HQ"{{ (applicant.decision == "Team HQ") ? ' selected' : '' }}>Team HQ</option>
                            {% else %}
                                <option value="J-Crew"{{ (applicant.decision == "J-Crew") ? ' selected' : '' }}>J-Crew</option>
                            {% endif %}
                            <option value="Tentative"{{ (applicant.decision == "Tentative") ? ' selected' : '' }}>Tentative</option>
                            <option value="No Hire"{{ (applicant.decision == "No Hire") ? ' selected' : '' }}>No Hire</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function updateApplicantSummary () {
            $.ajax({
                type: "POST",
                url: "{{ path('applicant_summary') }}",
                dataType: 'json',
                success: function (result) {
                    $('.summary-update').each(function() {
                        var point = $(this).data('point');
                        if($(this).text() != result[point]) {
                            $(this).fadeOut(300, function () {
                                $(this).text(result[point]).fadeIn(300);
                            });
                        }
                    });
                 }
            });
        }
        $(document).ready(function() {
            setInterval(updateApplicantSummary, 10000);
            $('select.app_applicant_decision').change(function() {
                $.ajax({
                    type: "POST",
                    url: "{{ path('applicant_update') }}",
                    data: {
                        applicant_id: $(this).data('applicant-id'),
                        field_status: $(this).find(":selected").val()
                    },
                    dataType: 'json',
                    success: function() {
                        setTimeout(function() {
                          updateApplicantSummary();
                        }, 100);
                      }
                });
            });
        });
    
    </script>
{% endblock %}