{% extends 'base.html.twig' %}
{% import 'partials/_avatar.html.twig' as avatar %}
{% block body %}
<div class="ht-page-header"><h1>Closing Ceremony Duties</h1></div>
<div class="ht-dt-card ht-responsive-table">
    <table class="table" id="staff-duty-assignments-table">
        <thead><tr>
            <th class="ht-avatar-col no-export"></th>
            <th>First Name</th><th class="ht-mobile-hide">Last Name</th><th class="ht-mobile-hide">Position</th>
            <th>Assignment</th><th>Notes</th>
            <th class="no-export ht-chevron-col"></th>
        </tr></thead>
        <tbody>
            {% for user in users %}
                {% if user.assignmentCc is not null or user.assignmentCcNotes is not null %}
                    <tr data-href="{{ path('app_user_show', { 'id': user.userId }) }}">
                        <td class="ht-avatar-col no-export">{{ avatar.render(user, 32) }}</td>
                        <td data-label="First" class="ht-name-td">
                            <span class="ht-name-desktop">{{ user.consolidatedFirstName }}</span>
                            <span class="ht-name-mobile-header">
                                {{ avatar.render(user, 36) }}
                                <span class="ht-card-name">{{ user.consolidatedFirstName }} {{ user.lastName }}</span>
                                {% if user.position %}<span class="ht-group-badge ht-card-name-badge" style="background:#eef1f4;color:#555;font-size:10px;">{{ user.position }}</span>{% endif %}
                            </span>
                        </td>
                        <td data-label="Last" class="ht-mobile-hide">{{ user.lastName }}</td>
                        <td data-label="Position" class="ht-mobile-hide">{{ user.position }}</td>
                        <td data-label="Assignment">{{ user.assignmentCc }}</td>
                        <td data-label="Notes">{{ user.assignmentCcNotes }}</td>
                        <td class="no-export ht-chevron-col"><a href="{{ path('app_user_show', { 'id': user.userId }) }}" class="ht-row-chevron"><i class="fa fa-chevron-right"></i></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
