{% extends 'base.html.twig' %}

{% block body %}
    <h1>Check-Out Duties</h1>

    <div class="ht-dt-card">
    <table class="table" id="staff-duty-assignments-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Assignment</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.assignmentCheckOut is not null or user.assignmentCheckOutNotes is not null %}
                    <tr>
                        <td><a href="{{ path('app_user_show', { 'id': user.userId }) }}" class="ht-table-name-link">{{ user.consolidatedFirstName }}</a></td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.assignmentCheckOut }}</td>
                        <td>{{ user.assignmentCheckOutNotes }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
