{% extends 'base.html.twig' %}
{% block maintag %}<main class="filter-left narrow">{% endblock %}
{% block body %}
    <h1>Checkout</h1>
    <h3>{{ checkedout }} of {{ totalamb }} checked out. {{ totalamb - checkedout }} ambassadors to go!</h3>
    <table class="standard-view table table-striped table-bordered" id="checkout-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Check Out</th>
            </tr>
        </thead>
        <tbody>
            {% for ambassador in ambassadors %}
                <tr>
                    <td>{{ ambassador.consolidatedFirstName }}</td>
                    <td>{{ ambassador.lastName }}</td>
                    <td><a href="{{ path('app_ambassador_checkout_form', {'id': ambassador.id}) }}" class="btn btn-primary" role="button">Check Out</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
